@page "{id}"
@model TestProject.Pages.TestPages.UpdateModel
@{
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.serviceObject.ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.serviceObject.ID" class="form-control" />
                <span asp-validation-for="@Model.serviceObject.ID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.serviceObject.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.serviceObject.Name" class="form-control" />
                <span asp-validation-for="@Model.serviceObject.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.serviceObject.Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.serviceObject.Amount" class="form-control" />
                <span asp-validation-for="@Model.serviceObject.Amount" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" style="margin:20px;margin-left:0px;" class="btn btn-success">Update</button>
</form>
}